body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color:#FFC300

        /*background-color: #00FFBD;*/
}
body{
  /*background-color: #00FFBD;*/
  background-image: url("checklist.jpg");
}

.jumbotron{
    background:#FFB6C1;
    height:250px;
}
.jumbotron img{
    width:50%;
    float:left;
    max-height:160px;
}

.btn-default{
  background-color: #f16717;
}
